{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Hey!<br>Glad you’re here.</p>

<p>I'm just someone who's figuring life out — but doing it with a little more thought these days.</p>

<p>"Life is Set" isn’t about having everything perfect. It's about knowing where you're headed, what you believe in, and taking small, steady steps to build the life you actually want.</p>

<p>I love learning new things — not randomly, but with purpose. Whether it’s tech stuff like networks and databases, or figuring out how to fix my posture — I like diving deep and understanding how things really work.<br>(And yeah, I’m the type who’ll organize my whole desktop before installing one software, just because it feels better that way.)</p>

<p>I’m also big on health, mindset, and not wasting energy on things that don’t matter.<br>Basically: learning better, living better, being better — slowly but surely.</p>

<p>This blog is just me sharing ideas, lessons, and whatever else I pick up along the way.<br>If you’re someone who’s also trying to set your life up the right way — welcome aboard. 🚀</p>

<p>Let's build it, brick by brick.</p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
